# Must be first: Need to install Django 1.4-specific branches of these
# libraries directly from Github
git+https://github.com/django-nonrel/django@nonrel-1.4
git+https://github.com/django-nonrel/djangotoolbox@toolbox-1.4
git+https://github.com/django-nonrel/mongodb-engine@mongodb-engine-1.4-beta

## The following requirements were added by pip --freeze:
Django==1.4.5
distribute==0.6.34
django-mongodb-engine==0.4.0
djangotoolbox==0.9.2
pymongo==2.5.2
wsgiref==0.1.2
