container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  03_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true

  04_fixtokens:
    command: "scripts/fixtokens_debug.py"
    leader_only: true
  
  05_collectstatic:
    command: "django-admin.py collectstatic --noinput"


option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: lilypad_server/lilypad_server/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: lilypad_server.settings.aws
  - option_name: AWS_SECRET_KEY
    value: nEcI2FhCkjpz8YvT7nmEa+ZZgF8kyqe6ZVLT7I1q
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIHAUBQDWQGEHKIZQ
  - option_name: PYTHONPATH
    value: lilypad_server
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: "/static/"
    value: "static/"
